* {
  /*border: 1px solid black;*/
  font-family: 'Karla', sans-serif;
  font-size: 10px;
}

/* https://ru.stackoverflow.com/questions/628908/%D0%9F%D1%81%D0%B5%D0%B2%D0%B4%D0%BE%D0%BA%D0%BB%D0%B0%D1%81%D1%81-root-%D0%B8-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0-%D1%81-%D0%BD%D0%B8%D0%BC

Though the code will not work, it is still a good indicator for different colors and shades
*/

:root {
  cyan: hsl(179, 62%, 43%);
  bright-yellow: hsl(71, 73%, 54%);
  light-gray: hsl(204, 43%, 93%);
  grayish-blue: hsl(218, 22%, 67%);
}

html {
  height: 100%;
}


body {
  display: flex;
  direction: column;
  
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: hsl(204, 43%, 93%);
}

/* https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/ */

footer {
  position: absolute;
  bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 550px;

  /* https://developer.mozilla.org/ru/docs/Web/CSS/transform */
  
  transform: scale(1, 1.2);
}

.box-1, .box-2, .box-3 {
  padding: 20px;
}

/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.box-1 {
  grid-column-start: 1;
  grid-column-end: column2-end;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.box-1 h1 {
  color: hsl(179, 62%, 43%);
  font-size: 20px;
  font-weight: 700;
}

.box-1 h2 {
  color: hsl(71, 73%, 54%);
  font-size: 15px;
  font-weight: 700;
}

.box-1 h3 {
  color: hsl(218, 22%, 67%);
  font-size: 10px;
  font-weight: 400;
}

.box-2 {
  background-color: hsl(179, 62%, 43%);
  border-radius: 0px 0px 0px 10px;
  
  display: flex;
  direction: column;
  flex-wrap: wrap;
}

.box-2 h1 {
  color: white;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.box-2 h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0rem;
  width: 100%;
}

/* The expected color for span of the second box is not present in the style-guide. Thus we try out different shades of light gray unless the desired shade is found */

.box-2 span {
  color: hsl(216, 25%, 79%);
  font-size: 10px;
  font-weight: 400;

  /* https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css */
  
  vertical-align: middle;
}

.box-2 h3 {
  color: hsl(204, 43%, 93%);
  font-size: 10px;
  font-weight: 400;
  margin-top: -2rem;
  width: 100%;
}

button {
  width: 100%;
  margin-bottom: 0 auto;
  border: none;
  background-color: hsl(71, 73%, 54%);
  color: white;
  padding: 5px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 5px hsl(215, 13%, 43%);
}

button:hover {
  color: hsl(71, 73%, 54%);
  background-color: white;
}

/* The expected color of the third box is not present in the style-guide. Thus we try out different shades of light cyan unless the desired shade is found */

.box-3 {
  background-color: hsl(178, 47%, 54%);
  border-radius: 0px 0px 10px 0px;
  padding-bottom: 10px;
}

.box-3 h1 {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.box-3 h2 {
  color: hsl(204, 43%, 93%);
  font-size: 10px;
  font-weight: 100;
}

br {
  line-height: 200%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
    display: flex;
    direction: column;
    /* https://stackoverflow.com/questions/38133315/flex-direction-column-property-is-not-working */
    flex-wrap: wrap;
  }

  .box-2 {
    border-radius: 0px;
  }

  .box-2 h1,
  .box-2 h2,
  .box-2 h3 {
    width: 100%;
  }
  
  .box-3 {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
  }
}